---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Vorteile from '../components/Vorteile.astro';
import Leistungen from '../components/Leistungen.astro';
import UeberMich from '../components/UeberMich.astro';
import Prozess from '../components/Prozess.astro';
import Kontakt from '../components/Kontakt.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="nowa-finanzen | Norbert Wagner - Dein Finanzierungsexperte">
  <Header />
  <main>
    <Hero />
    <Vorteile />
    <Leistungen />
    <UeberMich />
    <Prozess />
    <Kontakt />
  </main>
  <Footer />
</Layout>
